/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************Elements principaux du corps de page******************************/


/*Affichage des élements de page*/
#bloc_page
{
	margin: auto;
	width: 940px;
}
h1
{
	font-size: 1.5em;
	font-family: Walkway Oblique Bold;
}
p
{
	color: #404040;
	margin: 0px;
}
a
{
	text-decoration: none;
	font-family: 'Varela round', Serif;
}
strong
{
	text-decoration: none;
	color: #a22841;
}
li
{
	list-style-type: none;
}
em
{
	color: #b7b7b7;
}
/*Balises sectionnantes*/
body
{
	
}
article
{
	margin-bottom: 20px;
	background-color: white;
	width: 95%;
}

/*Entête*/
header
{
	position: relative;
	text-align: center;
	margin: 0 auto;
	height: 120px;
	width: 100%;
}
header img, nav
{
	display: inline-block;
	vertical-align: middle;
}
header img
{
	position: relative;
	z-index: 2;
}
/*Menu de navigation*/
nav li
{
	display: inline-block;
	font-family: 'Varela round', Serif;
	border-radius: 20px;
	height: 20px;
	background-color: #F4E8D9;
	margin-bottom: 80px;
	padding: 10px 0px;
}
#nav_ajouter
{
	width: 200px;
	margin-right: 80px;
}
#nav_contact
{
	width: 130px;
	margin-left: 80px;
}
#question
{
	width: 40px;
	margin-left: 20px;
}
nav a
{
	color: #6F5F99;
	font-size: 16px;
}
nav li:hover
{
	background-color: #EADBCC;
}
/*Fin de l'entête*/

/*******************************Page recherche/accueil********************************/
/*Bannière*/
#banniere_image
{
	background-image: url('images/Ernest-Célestine-9.jpg');
	height: 450px;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	z-index: 1;
}
#banniere_recherche
{
	position: absolute;
	bottom: 50px;
	left:30px;
	padding: 30px 25px 30px 25px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
/*Barre de recherche*/
#target input
{
	height:40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border: none;
	font-family: 'Walkway Oblique Bold', Serif;
	font-size: 1.2em;
	text-decoration: normal;
}
#keyword
{
	width:640px;
	margin-right: 20px;
	color: #404040;
	padding: 0px 20px;
	font-family: 'Varela Round', Sans-Serif;
	font-size: 16px;
}
#submit
{
	width: 130px;
	background-color: #6F5F99;
	color: white;
}

/*Image des catégories disponibles*/
#categories
{
	width: 80%;
	vertical-align: top;
	margin: auto;
}
#categories li
{
	display: inline-block;
}
#categories a
{
	font-family: 'Walkway Oblique Bold', Serif;
}
#video
{
	width:200px;
	height:130px;
	margin-right: 20px;
}
.suggestion
{
	display: inline-block;
	width: 280px;
	height: 240px;
	background-color: #F4E8D9;
	margin: 5px;
	margin-bottom: 5px;
}
/*Texte d'accueil*/
#accueil
{
	font-size: 25px;
	background-color: #F4E8D9;
	text-align: center;
	width: 860px;
	height: 50px;
	padding: 40px;
	font-family: 'Cookie', Cursive;
	font-weight: bold;
	color: #6F5F99;
}

/*Suggestion*/
.suggestion
{
	display: inline-block;
	width: 250px;
	vertical-align: top;
	margin:17px;
	padding-bottom:20px;
	height: 200px;
}
.suggestion a
{
	color: #a22841;
	text-align: left;
}
.suggestion p
{
	margin-top: 10px;
	text-align: center;
	color: #a22841;
	font-weight: bold;
}

/*Fin de la page de recherche/accueil*/

/*******************************Page de résultats******************************/
.resultats
{
	display:inline-block;
	width: 400px;
	vertical-align: top;
	height: 150px;
}
.resultats h2
{
	font-size: 1.4em;
	margin-top: 0px;
	color: #a22841;
}
.resultats p, article p
{
	font-size: 1.2em;
}
.list_resultat
{
	padding: 20px;
	padding-bottom: 0px;
}
.list_resultat a
{
	text-decoration: none;
}
.list_resultat
{
	background-color: white;
}

/******************************************Page consultation**************************************/
/*Vidéo*/
#consultation
{
	width: 100%;
	height: 550px;
}
#paroles
{
	width: 400px;
	margin-left: 30%;
	text-align: center;
	margin-top: 5%;
}
/*Logo j'aime*/
#bonus_img
{
	position:relative;
	left:550px;
	height:40px;
}
/*Formulaire*/
article textarea
{
	width: 99.3%;
	height: 200px;
}


/**********************************************Pied de page******************************************/
footer
{
	background-color: rgba(204,204,204,0.8);
	padding: 30px;
	margin-top: 80px;
}
footer p
{
	color: rgba(153,153,153,0.8);
	font-size: 1em;
	width: 900px;
	margin: auto;
	text-align: center;
}
footer a
{
	color: rgba(153,153,153,0.8);
}
#auteur,.bonus
{
	display:inline;
}
#contact
{
	width: 960px;
	height: 500px;
	background-image: url(images/bane.jpg);
	background-repeat: no-repeat;
	position: relative;
}
#texte
{
	width : 400px;
	height: 100px;
	margin: auto;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	bottom: 100px;
	left: 300px;
	background-color: rgba(255, 255, 255, 0.6);
}
#texte h1, #texte h2
{
	text-align: center;
}
#texte a
{
	margin-left: 25%;
}

/************* Page d'ajout ****************************/
.ajout_bannière
{
	background-image: url('images/Ernest-Célestine-9.jpg');
	background-repeat: no-repeat;
	width: 940px;
	height: 300px;
	margin: 0px;
}
#texte_ajout
{
	width: 240px;
	font-family: 'Cookie', cursive;
	font-size: 35px;
	color: #ED1E79;
	margin-left: 30px;
	padding-top: 30px;
}
label, form p
{
	display: inline-block;
}
#ajout_form
{
	background-color:#F4E8D9;
	height:400px;
}
#ajout_input
{
	display: inline-block;
	width: 380px;
	height: 280px;
	vertical-align: top;
	margin: 20px 40px 0px;
	position : relative;
}
.input
{
	width: 240px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin: 10px 0px;
	background-color: white;
	padding: 0px 20px;
}
#type
{
	width: 280px;
}
label
{
	display: inline-block;
	width:90px;
	margin-top: 10px;
	color:#6F5F99;
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}
#vidéo
{
	width: 150px;
	vertical-align: top;
	margin-top: 20px;
}
#ajout_parole
{
	display: inline-block;
	width:	380px;
	height: 280px;
	vertical-align: top;
	margin: 30px 40px 0px;
}
#ajout_fichier
{
	width: 220px;
	background-color: #6F5F99;
	border-radius: 20px;
	height: 40px;
	display: inline-block;
	margin-top: 10px;
}
#fichier
{
	opacity: 0;
	position: relative;
	display: block;
	left: -1px;
	z-index: 2;
	height: inherit;
}
#ajout_fichier h3
{
	left: 54px;
	position: relative;
	display: block;
	bottom: 27px;
	color: white;
	z-index:1;
}
textarea
{
	width: 280px;
	height: 230px;
	border-radius: 20px;
	border: 0px;
}
#ajout_parole label
{
	vertical-align: top;
}
#button
{
	width: 380px;
	background-color: #ED1E79;
	border-radius: 20px;
	height:40px;
	margin-left: 300px;
	border: 0px;
	color: white;
	font-family: 'Varela round', Sans Serif;
	font-size: 16px;
}
#button:hover
{
	background-color:#CE006C;
}
#ajout_button
{
	display: block;
	margin: auto;
	width: 380px;
	height: 40px;
	opacity: 0;
	z-index: 2;
}
#button h3
{
	display: block;
	width: 200px;
	margin: auto;
	position: relative;
	bottom: 27px;
	color: white;
	z-index: 1;
}
aside,#video_suggestion
{
	display:inline-block;
	vertical-align:top;
	margin-top:40px;
}
aside
{
	width:280px;
	height:490px;
	background-color:#F4E8D9;
	margin-left:30px;
	padding:0px;
}
#video_suggestion
{
	width:569px;
	height:530px;
	margin-left:43px;
}
aside h2
{
	font-family:'cookie',cursive;
	font-size:1.5em;
	background-color:#9E005D;
	color:white;
	height:20px;
	text-align:center;
	padding:15px;
}

aside p
{
	font-family:'cookie',cursive;
	font-size:1.5em;
	font-weight:bold;
	color:#9E005D;
	text-align:center;
	margin-top:25px;
}
#titre_comptine
{
	text-align:center;
	color:#6F5F99;
}
.commentaire
{
	width:670px;
	height:40px;
	margin-bottom:20px;
	border-radius:20px;
	position:relative;
	left:20px;
}
article label
{
	width:200px;
}
article h1
{
	text-align:center;
}

