input[type=text] { 
	height:20px;
 }
 
#bandeau{
	position:relative;
	text-align:center;
	height:100px;
	border:solid 1px blue;
	background-color:blue;
}

#page1{
	position:relative;
	margin-left:170px;
	margin-right:170px;
	height:700px;
	border:solid 1px black;
	background-color:lightgray;
}

#champ{
	position:relative;
	margin-left:30px;
	margin-top:60px;
}

#champPub{
	position:relative;
	margin-left:500px;
	margin-top:60px;
}


#pied{
	position:relative;
	height:120px;
	border:solid 1px black;
	background-color:red;
}
#menu li {
		list-style-type: none;
		list-style-image:none;
		float: left ; 
		text-align: center;
    	width: 150px ; 
    	border: 1px solid #600 ; 
    	margin-left:1px; 
    	color: #fff ; 
    	background: #5F9EA0 ;
}
